{% extends 'dashboardbase.html' %}

{% block content %}

<!-- container starts here -->
<div>
  
  <div class="container-fluid">
    <!-- card starts here -->
<div class="card" style="margin-left: 20px; margin-right:40px; padding-bottom: 50px; border:none;overflow: scroll;">
 
 <div class="row">
   <!-- row starts here -->
   <div class="col">
     <!-- col starts here -->
     <!--  -->
     <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
     <!-- col ends here -->
   </div>
   <div class="col">
     <!-- col starts here -->

     <!-- col ends here -->     
   </div>
   <!-- row ends here -->
 </div>

 </div>  
<!-- card ends here -->


</div>
<!-- container ends here -->
<style type="text/css">
    #upload_buttons_fix{
    outline: none;
    border: none;
    background-color: #FF745C;
    color: whitesmoke;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  #uploadfiles_guidelines_headings{
    font-weight: 500;
    color: #545454;
    
  }
  #uploadfiles_guidelines_content{
    color: #737373;
    font-size: 15px;
  }
</style>
</div>
<!-- main menu ends here -->
</body>
</html>

{% endblock %}