{% extends 'dashboardbase.html' %}

{% block content %}

<!-- container starts here -->
<div>
  <div class="container-fluid">
    <div class="row">
      <!-- row starts here -->
      <div class="col-2">
        <!--col starts here -->
          <div class="card" style="height: 560px; margin-left: 20px; width: 180px; font-size:14px;">
  <div class="card-header text-center" style="font-weight:500;">Filters
  </div>
  <ul class="list-group list-group-flush">
    <!-- list 1 -->
    <li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Aa-Zz order
  </label>
</div>
</li>
<!-- list 2 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Zz-Aa order
  </label>
</div>
</li>
<!-- list 3 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Application status
  </label>
</div>
</li>
<!-- list 4 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Posting time
  </label>
</div>
</li>
<!-- list 5 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Rating
  </label>
</div>
</li>
<!-- list 6 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Creation time
  </label>
</div>
</li>
<!-- list 7 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Application Date
  </label>
</div>
</li>
<!-- list 8 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Modified Time
  </label>
</div>
</li>
<!-- list 9 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Rating Order
  </label>
</div>
</li>
<!-- list 10 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Posting Title
  </label>
</div>
</li>
<!-- list 11 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Application Id
  </label>
</div>
</li>
<!-- list 12 -->
<li class="list-group-item">
      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Last Activity
  </label>
</div>
</li>
<!-- list ends here -->
  </ul>
</div>
        <!--col ends here -->
      </div>
      <div class="col-9">
        <!--col starts here -->
        <div class="card" style="height: 570px; margin-left:20px;">
          <div class="table-responsive">
          <table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">Application-ID</th>
      <th scope="col">Application Name</th>
      <th scope="col">Status</th>
      <th scope="col">Posting Title</th>
      <th scope="col">Ratings</th>
      <th scope="col">View Profile</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <th scope="row">1921189</th>
      <td>Saurav Arvind P</td>
      <td>Viewed</td>
      <td>Web Developer</td>
      <td>*****</td>
      <td><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Quick View</button></td>

    </tr>
    <tr>
      <th scope="row">1921190</th>
      <td>Sedhuragavan L</td>
      <td>Not Viewed</td>
      <td>Software developer</td>
      <td>*****</td>
      <td><button class="btn btn-primary">Quick View</button></td>

    </tr>
    <tr>
      <th scope="row">1921189</th>
      <td>Saurav Arvind P</td>
      <td>Viewed</td>
      <td>Web Developer</td>
      <td>*****</td>
      <td><button class="btn btn-primary">Quick View</button></td>
    </tr>

    <tr>
      <th scope="row">1921189</th>
      <td>Saurav Arvind P</td>
      <td>Viewed</td>
      <td>Web Developer</td>
      <td>*****</td>
      <td><button class="btn btn-primary">Quick View</button></td>
    </tr>

    <tr>
      <th scope="row">1921189</th>
      <td>Saurav Arvind P</td>
      <td>Viewed</td>
      <td>Web Developer</td>
      <td>*****</td>
      <td><button class="btn btn-primary">Quick View</button></td>
    </tr>

    <tr>
      <th scope="row">1921189</th>
      <td>Saurav Arvind P</td>
      <td>Viewed</td>
      <td>Web Developer</td>
      <td>*****</td>
      <td><button class="btn btn-primary">Quick View</button></td>
    </tr>

    <tr>
      <th scope="row">1921189</th>
      <td>Saurav Arvind P</td>
      <td>Viewed</td>
      <td>Web Developer</td>
      <td>*****</td>
      <td><button class="btn btn-primary">Quick View</button></td>
    </tr>

    <tr>
      <th scope="row">1921189</th>
      <td>Saurav Arvind P</td>
      <td>Viewed</td>
      <td>Web Developer</td>
      <td>*****</td>
      <td><button class="btn btn-primary">Quick View</button></td>
    </tr>

    <tr>
      <th scope="row">1921189</th>
      <td>Saurav Arvind P</td>
      <td>Viewed</td>
      <td>Web Developer</td>
      <td>*****</td>
      <td><button class="btn btn-primary">Quick View</button></td>
    </tr>

  </tbody>
          </table>
        </div>
        </div>
        <!--col ends here -->
      </div>

      <!-- row ends here -->
    </div>
  </div>
</div>
<!-- container ends here -->

<!-- main menu ends here -->




<!-- off-canvas starts here -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width:500px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Quick View Profile</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- main profile card starts here-->
<div class="card text-center" style="border:none;">
  <img src="images/profile_candidate.png" class="card-img-top" alt="..." style="height:200px; width: 300px; margin-left:70px">
  <div class="card-body">
    <h5 class="card-title">Saurav Arvind P</h5>
    <p class="card-text" style="text-align: justify;">I'm an aspiring Information technologist with insights on problemsolving, Front-end web designing & development, visual design, creative design, strategic direction and Research. I can design solutions and execute them to make a positive impact for a business. I have hands-on experience in Adobe XD, Adobe Photoshop, Adobe illustrator and Figma. I'm well-versed in communication and collaboration. I also acquire hands-on experience in Web designing & development and user experience designing.
</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span style="font-weight:500">Phone Number:</span> +91 9489763355</li>
    <li class="list-group-item"><span style="font-weight:500">Mail Id:</span> sauravparameshwaran@gmail.com</li>
    <li class="list-group-item"><span style="font-weight:500">GitHub:</span> https://github.com/sauravarvind</li>
    <li class="list-group-item"><span style="font-weight:500">Linkedin:</span> https://www.linkedin.com/in/saurav-arvind/</li>

  </ul>
</div>
    <!-- main profile card ends here -->
  </div>
</div>

<!-- off-canvas ends here -->
<style type="text/css">
  #main_card{
    margin-left: 60px;
    margin-bottom: 20px;
    border: none;
  }
  #card_body_wording{
    font-weight: 500;
    text-align: center;
  }
</style>

</body>
</html>

{% endblock %}